body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0;
	padding: 0;
	text-align: center; 
	color: #999999;
	background-color: #222;
	width: auto;
	border-color: #CCCCCC;
}
.oneColElsCtrHdr #container {
	width: 1157px; 
	background: #333333;
	margin: 0 auto; 
	text-align: left; 
	background-color: #666666;
	border-left-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
	color: #FFFFFF;
}
.oneColElsCtrHdr #header {
	background: #065F33;
	padding: 0 10px 0 20px; 
	height: 166px;
	border-color: #CCCCCC;
} 
.oneColElsCtrHdr #header h1 {
	margin: 0; 
	padding: 10px 0; 
}
.oneColElsCtrHdr #mainContent {
	padding: 0 20px; 
	background: #666666;
	border-color: #CCCCCC;
}
.oneColElsCtrHdr #footer {
	padding: 0 10px; 
	background:#065F33;
} 
.oneColElsCtrHdr #footer p {
	margin: 0; 
	padding: 10px 0; 
}
.style1 {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style2 {color: #FFFFFF}
body,td,th {
	color: #000000;
}
a:link {
	color: #FFFFFF;
}
a:visited {
	color: #990099;
}
a:hover {
	color: #999999;
}
.heading {
    font-size: x-large; 
	color: #FFFFFF;
}
.style12 {
	color: #003300;
	border-right-width: medium;
}
.style13 {
	color: #003300
}
.style14 {
	color: #003300
}