body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #999999;
	background-color: #222;
	width: auto;
	border-color: #CCCCCC;
}


.oneColElsCtrHdr #container {
	width: 1157px;  
	background: #CCCCCC;
	margin: 0 auto; 
	text-align: left; 
	background-color: #666666;
}
.oneColElsCtrHdr #header {
	background: #065F33;
	padding: 0 10px 0 20px;  
	height: 150px;
	border-color: #CCCCCC;
} 
.oneColElsCtrHdr #header h1 {
	margin: 0; 
	padding: 10px 0; 
}
.oneColElsCtrHdr #mainContent {
	padding: 0 20px; 
	background: #666666;
	border-color: #CCCCCC;
}
.oneColElsCtrHdr #footer {
	padding: 0 10px; 
	background:#065F33;
} 
.oneColElsCtrHdr #footer p {
	margin: 0; 
	padding: 10px 0; 
}
.style1 {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style2 {color: #FFFFFF}

body,td,th {
	color: #FFFFFF;
}
a:link {
	color: #000066;
}
a:visited {
	color: #990099;
}
a:hover {
	color: #0000CC;
}
.style12 {
	font-size: x-large;
	color: #000033;
}
.style13 {
	color: #FFFFFF
}
.style14 {font-size: x-large; color: #FFFFFF; }